@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Wix Madefor Display", sans-serif;
  overflow: hidden;
  background-image: url(../assets/bg.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.panel {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.panel .icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: #fff;
}
.panel .icon img {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
}

#clock {
  position: fixed;
  top: 20px;
  right: 50px;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #000;
  letter-spacing: -2px;
}

.application {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1E1E1E;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: hidden;
}
.application:not(#pequena-home) {
  display: none;
}
.application .title-bar {
  display: flex;
  align-items: center;
  background-color: #FF5A5F;
  height: 30px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.application .title-bar .logo {
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px;
}
.application .title-bar .app-title {
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.application .title-bar .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}
.application .title-bar .buttons button {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.application .title-bar .buttons .maximize {
  background-color: #0c0;
}
.application .title-bar .buttons .close {
  background-color: #c00;
}
.application .app-content {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  min-height: -moz-fit-content;
  min-height: fit-content;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #1E1E1E;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}
.application .app-content::-webkit-scrollbar {
  width: 6px;
}
.application .app-content::-webkit-scrollbar-thumb {
  background-color: #353535;
  border-radius: 5px;
}
.application .app-content::-webkit-scrollbar-track {
  background-color: #1E1E1E;
}
.application .app-content h1 {
  font-size: 120px;
  margin: auto;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  color: #FF5A5F;
}
.application .app-content .sideNote {
  text-align: center;
  color: rgba(255, 255, 255, 0.6235294118);
  font-size: 1.1rem;
}
.application .app-content .mainList {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 90%;
  height: 13rem;
  position: relative;
  margin: 4rem auto 10rem;
  align-items: center;
}
.application .app-content .mainList li {
  text-align: center;
  width: 15rem;
  margin: 1rem;
  height: 100%;
}
.application .app-content .mainList li i {
  font-size: 5rem;
  color: #FF5A5F;
}
.application .app-content .mainList li .mainStat {
  font-size: 1.3rem;
  margin: 1rem 0;
  font-weight: bold;
}
.application .app-content .smallList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
  line-height: 1.8;
}
.application a {
  color: #FF5A5F;
}

::-moz-selection {
  background-color: rgba(83, 83, 83, 0.4745098039);
}

::selection {
  background-color: rgba(83, 83, 83, 0.4745098039);
}

pre {
  position: relative;
}
pre .copy-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
pre .copied {
  color: green;
}

#pequena-docs {
  height: 781px;
  width: 1322px;
}
#pequena-docs .title-bar {
  background-color: #00A699;
}
#pequena-docs .container {
  width: 60%;
  position: relative;
  margin: 0 18% 0 auto;
}
#pequena-docs .container .topLogo {
  margin-bottom: -2rem;
}
#pequena-docs .container .topLogo .pequenaLogo {
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  background-image: url(../assets/PequenaLogoTeal.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 1.5rem;
}
#pequena-docs .container .topLogo .versioning {
  margin: auto;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  left: 3rem;
  font-size: 1.2rem;
  top: -0.8rem;
}
#pequena-docs .container h1 {
  color: #00A699;
  font-size: 90px;
}
#pequena-docs .container h3 {
  font-size: 1.4rem;
  margin: 1.5rem 0;
  color: #00A699;
  scroll-margin: 1rem;
}
#pequena-docs .container h5 {
  font-size: 1.1rem;
  margin: 1rem;
}
#pequena-docs .container .plainText {
  margin-left: 2rem;
  padding: 0.5rem 0;
  line-height: 1.7;
}
#pequena-docs .container code {
  border-radius: 10px;
  margin: 0.5rem 0;
  margin-left: 2rem;
}
#pequena-docs .container .colorHighlights {
  color: #00A699;
}
#pequena-docs .container ul {
  margin-left: 2rem;
  display: flex;
  justify-content: space-evenly;
}
#pequena-docs .container ul li {
  list-style-type: none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: bold;
}
#pequena-docs .container ul .selected {
  border-bottom: 2px solid #00A699;
  color: #00A699;
}
#pequena-docs .navBar {
  max-height: 90%;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s ease;
}
#pequena-docs .navBar::-webkit-scrollbar {
  width: 6px;
}
#pequena-docs .navBar::-webkit-scrollbar-thumb {
  background-color: #353535;
  border-radius: 5px;
}
#pequena-docs .navBar::-webkit-scrollbar-track {
  background-color: #1E1E1E;
}
#pequena-docs .navBar .topList {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#pequena-docs .navBar .topList li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  flex-direction: column;
  cursor: pointer;
}
#pequena-docs .navBar .topList li .name {
  padding: 5px 0;
  width: 100%;
}
#pequena-docs .navBar .topList li .nestedList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
}
#pequena-docs .navBar .topList li .nestedList li {
  margin: 5px 0 5px 10px;
  cursor: pointer;
}
#pequena-docs .navBar .topList li .firstList {
  display: block;
}
#pequena-docs .navBar .topList .active {
  color: #00A699;
  font-weight: bold;
}
#pequena-docs .docs-section {
  display: none;
}
#pequena-docs #quick-start {
  display: block;
}/*# sourceMappingURL=styles.css.map */