@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

$red: #FF5A5F;
$yellow: #FFB948;
$teal:#00A699;
$white:#FFFFFF;
$dark: #1E1E1E;
$scrollBar: #353535;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Wix Madefor Display', sans-serif;
  animation-name: pc-boot;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  overflow: hidden !important;
  background-image: url(../assets/bg.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.panel {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: #fff;
  }

  .icon img {
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px;
  }
}

#clock {
  position: fixed;
  top: 20px;
  right: 50px;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #000;
  letter-spacing: -2px;
}



.application {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $dark;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: hidden;

  &:not(#pequena-home) {
    opacity: 0;
  }

  .title-bar {
    display: flex;
    align-items: center;
    background-color: $red;
    height: 30px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .logo {
      display: block;
      width: 20px;
      height: 20px;
      margin: 5px;
    }

    .app-title {
      flex: 1;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 5px;


      button {
        width: 10px;
        height: 10px;
        margin-left: 5px;
        border-radius: 50%;
        border: 0;
        outline: 0;
        cursor: pointer;
      }

      .maximize {
        background-color: #0c0;
      }

      .close {
        background-color: #c00;
      }
    }
  }

  .app-content {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    min-height: fit-content;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $dark;
    user-select: text;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollBar;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: $dark;
    }

    h1 {
      font-size: 120px;
      margin: auto;
      position: relative;
      width: fit-content;
      color: $red;
    }

    .sideNote {
      text-align: center;
      color: #ffffff9f;
      font-size: 1.1rem;
    }

    .mainList {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      width: 90%;
      height: 13rem;
      position: relative;
      margin: 4rem auto 10rem;
      align-items: center;

      li {
        text-align: center;
        width: 15rem;
        margin: 1rem;
        height: 100%;

        i {
          font-size: 5rem;
          color: $red;
        }

        .mainStat {
          font-size: 1.3rem;
          margin: 1rem 0;
          font-weight: bold;
        }
      }

    }


    .smallList {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      width: fit-content;
      margin: 2rem auto;
      line-height: 1.8;

    }
  }

  a {
    color: $red;
  }

  &.appear {
    animation: appear .4s ease forwards;
    pointer-events: auto;
  }

  &.disappear {
    animation: disappear .4s ease forwards;
    pointer-events: none;
  }

}

::selection {
  background-color: #53535379;
}

pre {
  position: relative;

  .copy-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .copied {
    color: green;
  }

}


#pequena-docs {

  .title-bar {
    background-color: $teal;
  }


  height: 772px;
  width: 1236px;

  .container {
    width: 60%;
    position: relative;
    margin: 0 18% 0 auto;

    .topLogo {
      margin-bottom: -2rem;

      .pequenaLogo {
        width: 100px;
        height: 100px;
        position: relative;
        margin: auto;
        background-image: url(../assets/PequenaLogoTeal.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        top: 1.5rem;
      }

      .versioning {
        margin: auto;
        position: relative;
        width: fit-content;
        left: 3rem;
        font-size: 1.2rem;
        top: -0.8rem;
      }
    }

    h1 {
      color: $teal;
      font-size: 90px;
    }

    h3 {
      font-size: 1.4rem;
      margin: 1.5rem 0;
      color: $teal;
      scroll-margin: 1rem;
    }

    h5 {
      font-size: 1.1rem;
      margin: 1rem;
    }

    .plainText {
      margin-left: 2rem;
      padding: .5rem 0;
      line-height: 1.7;
    }

    code {
      border-radius: 10px;
      margin: .5rem 0;
      margin-left: 2rem;
    }

    .colorHighlights {
      color: $teal;
    }

    ul {
      margin-left: 2rem;
      display: flex;
      justify-content: space-evenly;

      li {
        list-style-type: none;
        padding: 1rem 2rem;
        cursor: pointer;
        font-weight: bold;
      }

      .selected {
        border-bottom: 2px solid $teal;
        color: $teal;
      }
    }
  }

  .navBar {
    max-height: 90%;
    width: fit-content;
    min-width: 150px;
    height: fit-content;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 1s ease;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollBar;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: $dark;
    }

    .topList {
      list-style: none;
      margin: 0;
      padding: 0;
      user-select: none;

      li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
        flex-direction: column;
        cursor: pointer;

        .name {
          padding: 5px 0;
          width: 100%;
        }

        .nestedList {
          list-style: none;
          margin: 0;
          padding: 0;
          display: none;
          flex-direction: column;

          li {
            margin: 5px 0 5px 10px;
            cursor: pointer;
          }
        }

        .firstList {
          display: block;
        }
      }

      .active {
        color: $teal;
        font-weight: bold;
      }
    }
  }

  .docs-section {
    display: none;
  }

  #quick-start {
    display: block;
  }

}

#pequena-info {
  .title-bar {
    background-color: $yellow;
  }

  .app-content {
    text-align: center;

    h1 {
      color: $yellow;
      font-size: 60px;
    }

    h3 {
      font-size: 1.4rem;
      margin: 1.5rem 0;
      color: $yellow;
      scroll-margin: 1rem;
    }

    h5 {
      font-size: 1.1rem;
      margin: 1rem;
    }

    ul {
      display: block;
      width: fit-content;
      margin: auto;
    }

    a {
      color: $yellow;
    }


  }
}

// Animation keyframes for appearing
@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(-50%, -0%) scale(0.2);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

// Animation keyframes for disappearing
@keyframes disappear {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }



  100% {
    opacity: 0;
    transform: translate(-50%, 0%) scale(0.2);
  }
}


// Define CSS class for the PC boot animation
@keyframes pc-boot {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  70% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}